@charset "UTF-8";

body{
background-image: linear-gradient(to bottom,  rgba(175, 201, 123, 0.211),white);
}


header{
    background-image: url(../imagem/cozinha-luxo.jpg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-position:center top;
    height: 535px;
}

header > p{
    background-color: rgba(128, 128, 128, 0.359);
     text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.214);
    color: white;
    font-size: 1.3em;
    padding-left: 20px;
    margin-top: 5px;
}

div.dois{  /* segundo paragrafo de header*/
    display:block;
    line-height: 1.5;
    background-color: rgba(128, 128, 128, 0.279);
     text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.214);
     color: white;
    font-size: 1em;
    margin: 0;
    padding-right: 40px;
    text-align:right ;
}

header > h1{
    color: rgb(253, 253, 253);
     background-color: rgba(128, 128, 128, 0.359);
  font-size: 3em;
  text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.214);
  margin:15px 20px 0px 20px;
}

header > a{
    color: black;
    background-color:rgba(110, 145, 36, 0.995) ;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px;
   margin: 10px;}

   header > a:hover{
    background-color:yellowgreen ;
   }

menu{
    display: none;
    margin:0px 5px;
    padding: 5px 0px 5px 10px;
    background-color:rgba(128, 128, 128, 0.378);
}

menu > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

menu > ul > li a{
    text-decoration: none;
    display:block;
    color:black;
    font-size: 1em;
    padding: 5px;
    text-align: center;
margin: 5px 28px 5px 0px;
border: 1px solid black;
border-radius: 10px;
}

menu > ul > li :hover{
color: white;
background-color:yellowgreen;
}

span#burger{
    display:block;
    margin-right: 20px;
  text-align: right;
    padding: 10px 10px 0px 10px;
    cursor: pointer;
}

section > h1{
    text-align: center;
}

section > p{
    color: black;
   font-size:1em;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.efeito{
    display: inline-block;
    color: yellowgreen;
}

.caixa{
    display: inline-block;
    width: 200px;
    height: 150px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.caixa > h3{
 margin-left: 10px;
}

.caixa > p{
    padding: 5px;
    font-size: 0.6em;
}